@media (max-width: 1024px) {

    header {
        padding: 15px 25px;
        flex-wrap: wrap;
        gap: 15px;
    }

    .search {
        max-width: 100%;
        order: 3;
    }

    .hero {
        grid-template-columns: 1fr;
        text-align: center;

        padding: 45px 35px;
    }

    .hero-text {
        max-width: 100%;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image img {
        max-width: 320px;
        margin-top: 20px;
    }

    .lista-categorias {
        gap: 22px;
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        padding: 30px;
    }
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        align-items: center;

        padding: 20px;
    }

    .logo img {
        height: 90px;
    }

    .user-actions {
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .user-actions a {
        font-size: 13px;
    }

    .search {
        width: 100%;
    }

    .categorias {
        padding: 12px 15px;
    }

    .lista-categorias {
        font-size: 14px;
        gap: 15px;
    }

    .hero {
        padding: 35px 25px;
        min-height: auto;
    }

    .hero-text h1 {
        font-size: 30px;
    }

    .hero-text p {
        font-size: 15px;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 12px;
    }

    .btn-hero {
        width: 100%;
        text-align: center;
    }

    .hero-image img {
        max-width: 260px;
    }

    section h2 {
        font-size: 20px;
    }

    .produto-card {
        padding: 18px;
    }

    .produto-card img {
        height: 130px;
    }

    .produto-card h3 {
        font-size: 14px;
    }

    .produto-card .preco {
        font-size: 16px;
    }

    .categoria-header h1 {
        font-size: 28px;
    }

    .categoria-header p {
        font-size: 14px;
    }

    .categoria-bloco h2 {
        font-size: 22px;
    }

    footer {
        padding: 30px 15px;
    }

    .footer-devs {
        flex-direction: column;
        gap: 12px;
    }

    .footer-text {
        font-size: 14px;
    }

    .footer-copy {
        font-size: 11px;
    }
}


@media (max-width: 480px) {

    .hero-text h1 {
        font-size: 26px;
    }

    .hero-text p {
        font-size: 14px;
    }

    .lista-categorias {
        font-size: 13px;
    }

    .produto-card img {
        height: 110px;
    }

    .logo img {
        height: 75px;
    }
}